---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<span class="text-left inline-flex items-center text-xl tracking-wide text-gray-800/80 flex-1 gap-1">
				<img src="https://fgamizp.carrd.co/assets/images/image01.jpg?v=e421c753"/>
				<span>Hola</span>
			</span>
			<p>
				Mi nombre es Francisco Gámiz. Soy periodista especializado en Cultura. Desde hace unos años me dedico a escribir sobre libros y películas en Internet, haciendo un repaso a la actualidad literaria y cinematográfica. Además, también informo sobre lo que acontece en la industria musical, estando así especializado en la crónica de conciertos y en la crítica de discos. Desde siempre he disfrutado comentando noticias pertenecientes tanto a la índole política como cultural, por lo que si quieres saber más sobre mí o conocer más de cerca a qué me dedico, ¡has llegado a la página adecuada!
			</p>
		</main>
		<Footer />
	</body>
</html>
